BasedOnStyle: Google
UseTab: Always
IndentWidth: 4
TabWidth: 4
PointerAlignment: Right
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
IndentCaseLabels: true
ContinuationIndentWidth: 4
SpaceBeforeParens: Never
AlignAfterOpenBracket: DontAlign
ColumnLimit: 100
